*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-family);
    background-color: var(--grey-200);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main{
    max-width: 920px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    background-color: white;
    padding: 32px 40px;
    gap: 48px;
}

.calc-number-entering{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.calc-number-entering--bill, .calc-tip, .calc-people{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bill-inputting--label, .calc-tip--label, .calc-people--label{
    color: var(--grey-500);
    font-size: var(--text-5-font-size);
    line-height: var(--text-5-line-height);
    font-weight: bold;
}

#calc-number-entering-bill-number--inputting, #calc-people-number--inputting{
    background-color: var(--grey-50);
    outline: none;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid var(--grey-50);
    width: 100%;
    text-align: right;
}

#calc-number-entering-bill-number--inputting:focus, #calc-people-number--inputting:focus{
    outline: 2px solid var(--green-400);
}

#calc-number-entering-bill-number--inputting::placeholder, #calc-people-number--inputting::placeholder{
    color: var(--green-900);
}

.calc-tip--checkbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.calc-tip-checkbox--item{
    border-radius: 5px;
    background-color: var(--green-900);
    display: flex;
    justify-content: center;
    font-size: var(--text-3-font-size);
    line-height: var(--text-3-line-height);
    color: white;
    font-weight: bold;
    padding: 6px 10px;
}

.calc-tip-checkbox--item:hover{
    background-color: var(--green-400);
    color: var(--green-900);
}

.calc-tip-checkbox--item:active{
    background-color: var(--green-200);
    color: var(--green-900);
}

.calc-tip-checkbox--item:last-child{
    background-color: var(--grey-50);
    color: var(--grey-550);
}

.calc-people--number, .calc-number-entering-bill--number{
    position: relative;
    display: flex;
    align-items: center;
}

.calc-people-number--icon, .calc-number-entering-bill-number--icon{
    position: absolute;
    left: 17px;
    top: 6px;
    bottom: 6px;
    pointer-events: none;
}

.calc-number-result{
    background-color: var(--green-900);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 15px;
    width: 100%;
    padding: 40px;
}

.calc-number-result--tip-amount, .calc-number-result--total{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.calc-number-result-tip-amount-label{
    display: flex;
    flex-direction: column;
}

.calc-number-result-tip-amount-label--title, .calc-number-result-total-label--title{
    color: white;
    font-size: var(--text-5-font-size);
    line-height: var(--text-5-line-height);
    font-weight: bold;
}

.calc-number-result-tip-amount-label--per-person, .calc-number-result-total-label--per-person{
    color: var(--grey-400);
    font-size: var(--text-6-font-size);
    line-height: var(--text-6-line-height);
    font-weight: bold;
}

.calc-number-result-tip-amount--dollar, .calc-number-result-total--dollar{
    color: var(--green-400);
    font-size: var(--text-1-size);
    line-height: var(--text-1-line-height);
    font-weight: bold;
    justify-self: end;
}

.calc-number-result-btn--reset{
    border-radius: 5px;
    background-color: var(--green-400);
    border: var(--green-400);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green-900);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--text-4-font-size);
    line-height: var(--text-4-line-height);
    padding: 9px 40px;
    margin-top: auto;
}

.calc-number-result-btn--reset:hover{
    background-color: var(--green-200);
}

@media (max-width: 768px) {
    main{
        flex-direction: column;
    }

    .calc-number-entering{
        gap: 24px;
    }

    .calc-number-result{
        gap: 8px;
    }
}

@media (max-width: 576px) {
    .calc-number-entering{
        gap: 32px;
    }

    .calc-tip--checkbox{
        grid-template-columns: repeat(2, 1fr);
    }
    .calc-number-result{
        padding: 24px;
    }

    .calc-number-result-tip-amount--dollar, .calc-number-result-total--dollar{
        font-size: 32px;

    }

    .calc-number-result-btn--reset{
        padding: 9px 32px;
    }
}
