body{
    font-family: var(--font-family);
    background-color: var(--grey-200);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 920px;
    margin: 0 auto;
}

main{

    border-radius: 25px;
    display: flex;
    background-color: white;
    padding: 32px 40px;
    gap: 48px;
}

.calc-number-entering,.calc-tip{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calc-number-entering--bill{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bill-inputting--label, .calc-tip--label, .calc-people--label{
    color: var(--grey-500);
    font-size: var(--text-5-font-size);
    line-height: var(--text-5-line-height);
    font-weight: bold;
}

#calc-number-entering-bill-number--inputting, #calc-people-number--inputting{
    background-color: var(--grey-50);
    outline: none;
    border-radius: 5px;
    padding: 8px 16px;
    border: 1px solid var(--grey-50);
    width: 100%;
    text-align: right;

}

#calc-number-entering-bill-number--inputting::placeholder, #calc-people-number--inputting::placeholder{
    color: var(--green-900);
}

.calc-tip--checkbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.calc-tip-checkbox--item{
    border-radius: 5px;
    background-color: var(--green-900);
    display: flex;
    justify-content: center;
    font-size: var(--text-3-font-size);
    line-height: var(--text-3-line-height);
    color: white;
    font-weight: bold;
}

.calc-people--number, .calc-number-entering-bill--number{
    position: relative;
    display: flex;
    align-items: center;
}

.calc-people-number--icon, .calc-number-entering-bill-number--icon{
    position: absolute;
    left: 17px;
    top: 6px;
    bottom: 6px;
    pointer-events: none;
}

.calc-number-result{
    background-color: var(--green-900);
    display: flex;
    justify-content: center;
    align-items: center;
}


